.todoBorder{
	border: solid;
	border-width: 1px;
	border-color: white;
	margin-top: 100px;
	background-color: #DFE3EE;
	height: 420px;
	padding: 0px;
}

.todoBar{
	background-color: #3B5998;
	margin: 0px;
	height: 40px;
}

.todoTitle{
	margin: 0px;
	color: white;
	padding: 10px;
}